!!! XML
!!!
-# locale setting may impact layout. en and ja will provide different margin padding witdh and height
%html{html_attrs('en')}
  %head
    %title="Calendar of year @id"
  %body#cal
  %header
    %h1
      %span#yearinheader{}#{@id} 
      %span#french.blue{}>=' calendarier'
      \-
      %span#english.red{}><='calendar'
      \-
      %span#spanish.green{}><='calendario'
