!!! XML
!!!
%html{html_attrs('ja')}
  %head
    %title="Calendar of year @id"
  %body#cal
  %header
    %h1
      %span#yearinheader{}#{@id} 
      %span.blue{}>=' calendarier'
      \-
      %span.red{}><='calendar'
      \-
      %span.green{}><='calendario'
